<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <h1 class="main-title">PensioniPdS</h1>
    <h2 class="sub-title">Simulatore pensionistico semplice ed automatico</h2>
  </div>

  <form [formGroup]="homeForm" (ngSubmit)="onAvanti()" class="form-container">
    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Data di nascita</ion-label>
      <ion-input type="date" formControlName="dataNascita" aria-label="Data di nascita"></ion-input>
    </ion-item>

    <ion-item class="input-item" lines="none">
      <ion-label position="stacked">Data di assunzione in Polizia</ion-label>
      <ion-input
        type="date"
        formControlName="dataAssunzione"
        aria-label="Data di assunzione in Polizia"
      ></ion-input>
    </ion-item>

    <div class="actions-container">
      <ion-button
        expand="block"
        type="submit"
        shape="round"
        color="primary"
        class="ion-margin-top action-btn"
      >
        Avanti
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </form>

  <div class="delete-container">
    <ion-button expand="block" fill="solid" shape="round" color="danger" (click)="onCancella()">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Cancella dati
    </ion-button>
  </div>
</ion-content>
